body{
    background-color: bisque;
    color: rgb(40, 44, 44);
    font-size: medium;
    margin-left: 20%;
    margin-right: 20%;
}
.flexcontainer{
    display:flex;
    flex-direction: row;
    
}
.left{
    background-color: aliceblue;
    padding-left: 10px;
}
.right{
    background-color: rgb(112, 119, 81);
    padding-left: 10px;
}
@media screen and (max-width:600px) {
    body{
        background-color: brown;
        margin: 0px;
        margin: 0px;
    }
    .flexcontainer{
        flex-direction: column;
    }
} 
img{
    border-radius: 50%;
    padding-top: 10px;
}